{% extends 'base.html'%}
{% block active %}
<li class="active" ><a href="../dayReport">明细</a></li>
<li><a href="../weekReport">周汇总</a></li>
<li><a href="../monthReport">月汇总</a></li>
{% endblock %}
{% block submenu1 %}
<li class="submenu active open" >
{% endblock %}
{% block title %}推广站分析表(明细){% endblock %}
{% block table %}
部门：<select id="dep" name="department" class="selectpicker" data-style="btn-danger">
	   <option value="all" >所有部门</option>
	   {{deparment}}
	   {% for x in department %}
	   <option value="{{x}}">{{x}}</option>
	   {% endfor %}
	<select>
媒体：<select id="med" name="media" class="selectpicker" data-style="btn-danger">
	   <option value="all" >所有媒体</option>
	   {% for x in media %}
	   <option value="{{x}}">{{x}}</option>
	   {% endfor %}
	<select>
推广站点：<select id="site" name ="sites" class="selectpicker" data-style="btn-danger">
		   <option value="all" >所有站点</option>
	   {% for x in site %}
	   <option value="{{x}}">{{x}}</option>
	   {% endfor %}
	  <select>
地区：<select id="add" name="addres" class="selectpicker" data-style="btn-danger">
		 <option value="all" >所有地区</option>
	   {% for x in addres %}
	   <option value="{{x}}">{{x}}</option>
	   {% endfor %}
	<select>
日期：<input type="text" class="ns-dtpicker" name ="dt" id="datepicker">
<button id="b04" type="submit" class="btn btn-success active">确认</button>
{% endblock %}
