<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head><title>长江医院</title>
<link href="/static/common.css" type="text/css" rel="stylesheet" />
</head>
<body><h2 align="center">推广站站点汇总</h2>
<h2 align="center">['2014-07-25', '2014-07-24']</h2>
<table borderColor="#666666" width="1300" cellSpacing="0" align="center" caption="推广站分析表" cellPadding="0" border="1"><tr><th>媒体</th>
<th>消费</th>
<th>点击次数</th>
<th>点击成本</th>
<th>有效量</th>
<th>预约量</th>
<th>就诊量</th>
<th>有效成本</th>
<th>预约成本</th>
<th>就诊成本</th>
<th>未就诊量</th>

</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>313086.9</td>
<td>24002</td>
<td>13.04</td>
<td>339</td>
<td>20</td>
<td>20</td>
<td>923.56</td>
<td>15654.35</td>
<td>15654.35</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>279558.55</td>
<td>23349</td>
<td>11.97</td>
<td>316</td>
<td>17</td>
<td>17</td>
<td>884.68</td>
<td>16444.62</td>
<td>16444.62</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>275508.96</td>
<td>22800</td>
<td>12.08</td>
<td>313</td>
<td>16</td>
<td>16</td>
<td>880.22</td>
<td>17219.31</td>
<td>17219.31</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>285566.75</td>
<td>23617</td>
<td>12.09</td>
<td>321</td>
<td>18</td>
<td>18</td>
<td>889.62</td>
<td>15864.82</td>
<td>15864.82</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>279772.41</td>
<td>23075</td>
<td>12.12</td>
<td>308</td>
<td>16</td>
<td>16</td>
<td>908.35</td>
<td>17485.78</td>
<td>17485.78</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>277856.03</td>
<td>22830</td>
<td>12.17</td>
<td>322</td>
<td>16</td>
<td>16</td>
<td>862.91</td>
<td>17366.0</td>
<td>17366.0</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>275821.45</td>
<td>22848</td>
<td>12.07</td>
<td>307</td>
<td>16</td>
<td>16</td>
<td>898.44</td>
<td>17238.84</td>
<td>17238.84</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>279196.57</td>
<td>22859</td>
<td>12.21</td>
<td>318</td>
<td>16</td>
<td>16</td>
<td>877.98</td>
<td>17449.79</td>
<td>17449.79</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>276608.33</td>
<td>22930</td>
<td>12.06</td>
<td>304</td>
<td>16</td>
<td>16</td>
<td>909.9</td>
<td>17288.02</td>
<td>17288.02</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>277613.3</td>
<td>22999</td>
<td>12.07</td>
<td>312</td>
<td>16</td>
<td>16</td>
<td>889.79</td>
<td>17350.83</td>
<td>17350.83</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>277176.53</td>
<td>23111</td>
<td>11.99</td>
<td>309</td>
<td>16</td>
<td>16</td>
<td>897.01</td>
<td>17323.53</td>
<td>17323.53</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>275508.96</td>
<td>22800</td>
<td>12.08</td>
<td>305</td>
<td>16</td>
<td>16</td>
<td>903.31</td>
<td>17219.31</td>
<td>17219.31</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>277591.78</td>
<td>23188</td>
<td>11.97</td>
<td>319</td>
<td>16</td>
<td>16</td>
<td>870.19</td>
<td>17349.49</td>
<td>17349.49</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>335122.97</td>
<td>28659</td>
<td>11.69</td>
<td>306</td>
<td>17</td>
<td>17</td>
<td>1095.17</td>
<td>19713.12</td>
<td>19713.12</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>275508.96</td>
<td>22800</td>
<td>12.08</td>
<td>310</td>
<td>16</td>
<td>16</td>
<td>888.74</td>
<td>17219.31</td>
<td>17219.31</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>275508.96</td>
<td>22800</td>
<td>12.08</td>
<td>306</td>
<td>16</td>
<td>16</td>
<td>900.36</td>
<td>17219.31</td>
<td>17219.31</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>284399.39</td>
<td>24333</td>
<td>11.69</td>
<td>304</td>
<td>16</td>
<td>16</td>
<td>935.52</td>
<td>17774.96</td>
<td>17774.96</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>27251.92</td>
<td>3899</td>
<td>6.99</td>
<td>74</td>
<td>8</td>
<td>5</td>
<td>368.27</td>
<td>3406.49</td>
<td>5450.38</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>22621.3</td>
<td>3246</td>
<td>6.97</td>
<td>78</td>
<td>10</td>
<td>4</td>
<td>290.02</td>
<td>2262.13</td>
<td>5655.32</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>22621.3</td>
<td>3246</td>
<td>6.97</td>
<td>73</td>
<td>8</td>
<td>4</td>
<td>309.88</td>
<td>2827.66</td>
<td>5655.32</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>22621.3</td>
<td>3246</td>
<td>6.97</td>
<td>77</td>
<td>8</td>
<td>4</td>
<td>293.78</td>
<td>2827.66</td>
<td>5655.32</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>22621.3</td>
<td>3246</td>
<td>6.97</td>
<td>76</td>
<td>8</td>
<td>4</td>
<td>297.65</td>
<td>2827.66</td>
<td>5655.32</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>27251.92</td>
<td>3899</td>
<td>6.99</td>
<td>90</td>
<td>10</td>
<td>5</td>
<td>302.8</td>
<td>2725.19</td>
<td>5450.38</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>24670.71</td>
<td>3563</td>
<td>6.92</td>
<td>72</td>
<td>8</td>
<td>4</td>
<td>342.65</td>
<td>3083.84</td>
<td>6167.68</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>27</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>30</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>28</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>32</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华盛新闻</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>18</td>
<td>0</td>
<td>3</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华盛新闻</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>15</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华盛新闻</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>16</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华声二级域名</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>10</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华声二级域名</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>9</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>优化二级域名</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>12</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>29</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>29</td>
<td>0</td>
<td>3</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>27</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>28</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>30</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>QQ</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>0</td>
<td>3</td>
<td>3</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络电话</td>
<td>37466.22</td>
<td>2172</td>
<td>17.25</td>
<td>0</td>
<td>3</td>
<td>3</td>
<td>37466.22</td>
<td>12488.74</td>
<td>12488.74</td>
<td>0</td>
</tr>
</table>
</body>
</html>
