<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head><title>长江医院</title>
<link href="/static/common.css" type="text/css" rel="stylesheet" />
</head>
<body><h2 align="center">推广站站点汇总</h2>
<h2 align="center">['2014-07-25', '2014-07-24']</h2>
<table borderColor="#666666" width="1300" cellSpacing="0" align="center" caption="推广站分析表" cellPadding="0" border="1"><tr><th>媒体</th>
<th>消费</th>
<th>点击次数</th>
<th>点击成本</th>
<th>有效量</th>
<th>预约量</th>
<th>就诊量</th>
<th>有效成本</th>
<th>预约成本</th>
<th>就诊成本</th>
<th>未就诊量</th>

</tr>
<tr><td>QQ</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>0</td>
<td>2</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>26</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>275508.96</td>
<td>22800</td>
<td>12.08</td>
<td>304</td>
<td>16</td>
<td>16</td>
<td>906.28</td>
<td>17219.31</td>
<td>17219.31</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>26</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络电话</td>
<td>24977.48</td>
<td>1448</td>
<td>17.25</td>
<td>0</td>
<td>2</td>
<td>2</td>
<td>24977.48</td>
<td>12488.74</td>
<td>12488.74</td>
<td>0</td>
</tr>
<tr><td>华盛新闻</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>14</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>优化二级域名</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>8</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>22621.3</td>
<td>3246</td>
<td>6.97</td>
<td>72</td>
<td>8</td>
<td>4</td>
<td>314.18</td>
<td>2827.66</td>
<td>5655.32</td>
<td>0</td>
</tr>
<tr><td>华声二级域名</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>8</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
</table>
</body>
</html>
