<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head><title>长江医院</title>
<link href="/static/common.css" type="text/css" rel="stylesheet" />
</head>
<body><h2 align="center">推广站站点汇总</h2>
<h2 align="center">['2014-08-13', '2014-08-12']</h2>
<table borderColor="#666666" width="1300" cellSpacing="0" align="center" caption="推广站分析表" cellPadding="0" border="1"><tr><th>媒体</th>
<th>消费</th>
<th>点击次数</th>
<th>点击成本</th>
<th>有效量</th>
<th>预约量</th>
<th>就诊量</th>
<th>有效成本</th>
<th>预约成本</th>
<th>就诊成本</th>
<th>未就诊量</th>

</tr>
<tr><td>新浪</td>
<td>19998.0</td>
<td>3998</td>
<td>5.0</td>
<td>1776</td>
<td>13332</td>
<td>444</td>
<td>11.26</td>
<td>1.5</td>
<td>45.04</td>
<td>198</td>
</tr>
<tr><td>百度</td>
<td>9999.0</td>
<td>1999</td>
<td>5.0</td>
<td>888</td>
<td>6666</td>
<td>222</td>
<td>11.26</td>
<td>1.5</td>
<td>45.04</td>
<td>99</td>
</tr>
</table>
</body>
</html>
