{% extends 'base.html' %}
{% block active %}
<li><a href="../dayReport">明细</a></li>
<li class="active" ><a href="../weekReport">周汇总</a></li>
<li><a href="../monthReport">月汇总</a></li>
{% endblock %}
{% block submenu1 %}
<li class="submenu active open">
{% endblock %}
{% block title %}优化站分析表（周汇总）{% endblock %}
{% block table %}
<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>首页</a>
<a href="#">推广站分析表</a>
<a href="#" class="current">周汇总</a>
{% endblock %}
{% block table1 %}{% endblock %}
