<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head><title>长江医院</title>
<link href="/static/common.css" type="text/css" rel="stylesheet" />
</head>
<body><h2 align="center">推广站分析表周汇总</h2>
<h2 align="center">['2014-07-25', '2014-07-24']</h2>
<table borderColor="#666666" width="1300" cellSpacing="0" align="center" caption="推广站分析表" cellPadding="0" border="1"><tr><th>媒体</th>
<th>网站</th>
<th>地区</th>
<th>消费</th>
<th>点击次数</th>
<th>点击成本</th>
<th>有效量</th>
<th>预约量</th>
<th>就诊量</th>
<th>有效成本</th>
<th>预约成本</th>
<th>就诊成本</th>
<th>未就诊量</th>

</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.cjhospital.com</td>
<td>上海</td>
<td>75155.88</td>
<td>2404</td>
<td>31.26</td>
<td>70</td>
<td>8</td>
<td>8</td>
<td>1073.66</td>
<td>9394.49</td>
<td>9394.49</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.cjhospital.com</td>
<td>浙江</td>
<td>8099.18</td>
<td>1098</td>
<td>7.38</td>
<td>24</td>
<td>2</td>
<td>2</td>
<td>337.47</td>
<td>4049.59</td>
<td>4049.59</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.cjhospital.com</td>
<td>安徽</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>18</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.cjhospital.com</td>
<td>江苏</td>
<td>20115.58</td>
<td>1634</td>
<td>12.31</td>
<td>34</td>
<td>4</td>
<td>4</td>
<td>591.63</td>
<td>5028.9</td>
<td>5028.9</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.haoyunyu.com</td>
<td>上海</td>
<td>8526.9</td>
<td>550</td>
<td>15.5</td>
<td>8</td>
<td>0</td>
<td>0</td>
<td>1065.86</td>
<td>8526.9</td>
<td>8526.9</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.haoyunyu.com</td>
<td>浙江</td>
<td>4694.14</td>
<td>60</td>
<td>78.24</td>
<td>36</td>
<td>0</td>
<td>0</td>
<td>130.39</td>
<td>4694.14</td>
<td>4694.14</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.haoyunyu.com</td>
<td>安徽</td>
<td>624.98</td>
<td>96</td>
<td>6.51</td>
<td>6</td>
<td>0</td>
<td>0</td>
<td>104.16</td>
<td>624.98</td>
<td>624.98</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.haoyunyu.com</td>
<td>江苏</td>
<td>7375.22</td>
<td>118</td>
<td>62.5</td>
<td>28</td>
<td>0</td>
<td>0</td>
<td>263.4</td>
<td>7375.22</td>
<td>7375.22</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www.chinafke.com</td>
<td>上海</td>
<td>2198.74</td>
<td>260</td>
<td>8.46</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>2198.74</td>
<td>2198.74</td>
<td>2198.74</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www.chinanke.com</td>
<td>上海</td>
<td>4208.68</td>
<td>398</td>
<td>10.57</td>
<td>16</td>
<td>0</td>
<td>0</td>
<td>263.04</td>
<td>4208.68</td>
<td>4208.68</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www.chinanke.com</td>
<td>浙江</td>
<td>3335.14</td>
<td>622</td>
<td>5.36</td>
<td>10</td>
<td>0</td>
<td>0</td>
<td>333.51</td>
<td>3335.14</td>
<td>3335.14</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www.chinanke.com</td>
<td>安徽</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www.chinanke.com</td>
<td>江苏</td>
<td>4165.64</td>
<td>776</td>
<td>5.37</td>
<td>30</td>
<td>0</td>
<td>0</td>
<td>138.85</td>
<td>4165.64</td>
<td>4165.64</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.cjbyby.net</td>
<td>上海</td>
<td>119228.02</td>
<td>11718</td>
<td>10.17</td>
<td>4</td>
<td>2</td>
<td>2</td>
<td>29807.01</td>
<td>59614.01</td>
<td>59614.01</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.cjbyby.net</td>
<td>浙江</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>12</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>www1.cjbyby.net</td>
<td>江苏</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>其它</td>
<td></td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>百度搜索推广及网盟推广</td>
<td>baidu.cjhospital.com</td>
<td>上海</td>
<td>17780.86</td>
<td>3066</td>
<td>5.8</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>17780.86</td>
<td>17780.86</td>
<td>17780.86</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>sogou.cjhospital.com</td>
<td>上海</td>
<td>9261.24</td>
<td>1306</td>
<td>7.09</td>
<td>4</td>
<td>0</td>
<td>2</td>
<td>2315.31</td>
<td>9261.24</td>
<td>4630.62</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>sogou.cjhospital.com</td>
<td>浙江</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>12</td>
<td>4</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>sogou.cjhospital.com</td>
<td>安徽</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>sogou.cjhospital.com</td>
<td>江苏</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>10</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>其它</td>
<td></td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>8</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>合计</td>
<td></td>
<td>9261.24</td>
<td>1306</td>
<td>7.09</td>
<td>36</td>
<td>4</td>
<td>2</td>
<td>257.26</td>
<td>2315.31</td>
<td>4630.62</td>
<td>0</td>
</tr>
<tr><td>sogou推广</td>
<td>120.cjhospital</td>
<td>上海</td>
<td>4098.82</td>
<td>634</td>
<td>6.47</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>4098.82</td>
<td>4098.82</td>
<td>4098.82</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>byby.zjol.com.cn</td>
<td>上海</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>byby.zjol.com.cn</td>
<td>浙江</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>8</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>byby.zjol.com.cn</td>
<td>江苏</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>浙江在线</td>
<td>其他</td>
<td></td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>12</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华盛新闻</td>
<td></td>
<td>上海</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>8</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华盛新闻</td>
<td></td>
<td>浙江</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华盛新闻</td>
<td></td>
<td>江苏</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华声二级域名</td>
<td>byby.voc.com</td>
<td>浙江</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华声二级域名</td>
<td>byby.voc.com</td>
<td>江苏</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>华声二级域名</td>
<td>其它</td>
<td></td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>优化二级域名</td>
<td>buyunbuyu.voc.com</td>
<td></td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>8</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>自媒体</td>
<td></td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>6</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>网络无轨迹</td>
<td>上海</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>6</td>
<td>0</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>网络无轨迹</td>
<td>浙江</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>网络无轨迹</td>
<td>江苏</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>4</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络</td>
<td>网络无轨迹</td>
<td>其他</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>8</td>
<td>0</td>
<td>0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>QQ</td>
<td>QQ</td>
<td>全国</td>
<td>0.0</td>
<td>0</td>
<td>0.0</td>
<td>0</td>
<td>2</td>
<td>2</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0</td>
</tr>
<tr><td>网络电话</td>
<td>cjbyby无线</td>
<td>全国</td>
<td>24977.48</td>
<td>1448</td>
<td>17.25</td>
<td>0</td>
<td>2</td>
<td>2</td>
<td>24977.48</td>
<td>12488.74</td>
<td>12488.74</td>
<td>0</td>
</tr>
</table>
</body>
</html>
